body{
    text-align: center;
}

table,td,th{
    border: solid 1px;
}

table{
    margin: auto;
    width: 500px;
    max-width: 100%;
}

.ampliar{
    width: 500px;
    text-align: right;
}

#foto{
    text-align: center;
    width: 180px;
    height: 180px;
}

h4{
    text-align: center;
}